<form method="POST" action="/users">
  <input type="hidden"
       value="<%= form_authenticity_token() %>"
       name="authenticity_token"/>
  <div class="col-md-4">
    <label for="validationDefault01" class="form-label" >Name</label>
    <input type="text" name="name" class="form-control" id="name" required>
  </div>
  <div class="col-md-4">
    <label for="validationDefaultUsername" class="form-label">Email Address</label>
    <div class="input-group">
      <input type="email" name="email" class="form-control" id="emailaddress"  aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationDefault05" class="form-label">Zip</label>
    <input type="text" name="zip_code" class="form-control" id="zipcode" required>
  </div>
  <div class="col-md-4">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="password">
  </div>
  <div class="col-md-4">
    <label for="exampleInputPassword1" class="form-label">Password Confirmation</label>
    <input type="password" name="password_confirmation" class="form-control" id="passwordconfirmation">
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Create Account</button>
  </div>
</form>
