<div class="container-fluid bg-dark">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if !session[:auth].nil? %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">Go to My Dashboard</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/users/new">Create a User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">Login</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid bg-dark">
  <img src="https://user-images.githubusercontent.com/69736499/169948187-d3df7e74-94b1-4862-acbe-eec75f9cb321.jpeg" class="img-fluid rounded mx-auto d-block" alt="Grant's Plants">
</div>
